![Hand with calculator](calculator.png "Calculator")

Did you know that the average return from investing in stocks is 10% per year! But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

`dates`  

| Column       | Description                                  |  
|------------- |--------------------------------------------- |  
| company_id   | A unique ID for the company.                 |  
| date_joined  | The date that the company became a unicorn.  |  
| year_founded | The year that the company was founded.       |  

`funding`  

| Column           | Description                                  |  
|----------------- |--------------------------------------------- |  
| company_id       | A unique ID for the company.                 |  
| valuation        | Company value in US dollars.                 |  
| funding          | The amount of funding raised in US dollars.  |  
| select_investors | A list of key investors in the company.      |  

`industries`  

| Column       | Description                                  |  
|------------- |--------------------------------------------- |  
| company_id   | A unique ID for the company.                 |  
| industry     | The industry that the company operates in.   |  

`companies`  

| Column       | Description                                       |  
|------------- |-------------------------------------------------- |  
| company_id   | A unique ID for the company.                      |  
| company      | The name of the company.                          |  
| city         | The city where the company is headquartered.      |  
| country      | The country where the company is headquartered.   |  
| continent    | The continent where the company is headquartered. |

In [ ]:
DROP TABLE IF EXISTS top_industries
;

SELECT 
	industry,
    count(*) AS industry_count
INTO top_industries
FROM industries AS i
LEFT JOIN dates AS d
	ON i.company_id = d.company_id
WHERE EXTRACT(YEAR FROM d.date_joined) BETWEEN 2019 AND 2021
GROUP BY industry
ORDER BY industry_count DESC
LIMIT 3
;

DROP TABLE IF EXISTS company_valuations
;

SELECT 
	i.industry, 
    EXTRACT(YEAR FROM d.date_joined) AS year,
    f.valuation,
    t.industry_count
INTO company_valuations
FROM funding AS f
JOIN industries AS i
	ON i.company_id = f.company_id
JOIN dates AS d
	ON i.company_id = d.company_id
INNER JOIN top_industries AS t
	ON i.industry = t.industry
WHERE EXTRACT(YEAR FROM d.date_joined) BETWEEN 2019 AND 2021
;


SELECT 
	industry,
    year,
    count(*) AS num_unicorns,
    ROUND(AVG(valuation) / 1E9, 2) AS average_valuation_billions
FROM company_valuations
GROUP BY industry, industry_count, year
ORDER BY industry, year DESC
;

,industry,year,num_unicorns,average_valuation_billions
0,E-commerce & direct-to-consumer,2021,47,2.47
1,E-commerce & direct-to-consumer,2020,16,4.00
2,E-commerce & direct-to-consumer,2019,12,2.58
3,Fintech,2021,138,2.75
4,Fintech,2020,15,4.33
5,Fintech,2019,20,6.80
6,Internet software & services,2021,119,2.15
7,Internet software & services,2020,20,4.35
8,Internet software & services,2019,13,4.23